node_modules/
_ARCHIVE_NOT_FOR_RUNNING/

server_before_*.js
apply_*.js
fix-video-call.js

public/index_before_*.html
public/manifest_before_*.json
public/users-admin_before_*.html

*.log
.DS_Store

users_before_github_clean_*.json
chats_before_github_clean_*.json
messages_before_github_clean_*.json
